.table-view .table-cell {
    -fx-font-size: 15px;
}

.table-view .column-header-background .label{
    -fx-font-size: 16px;
    -fx-pref-height: 40px;

}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT;
}

.table-view .table-column{
    -fx-padding: 0 0 0 10;
    -fx-alignment:CENTER_LEFT;
}

#colDetailedInfo .button:hover{
    -fx-cursor: hand;
}

.table-row-cell {
    -fx-cell-size: 50px;
}